* {

    margin: 0;
    padding: 0;
}
h1{
    margin-top: 10rem;
}

body {

    background-color: #70a7ae;
    text-align: center;
}

.container {

    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {

    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {

    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: #FFE0B5;
    color: #CA2E55;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #FFE0B5;
    color: #CA2E55;
    border-radius: 1rem;
    border: none;

}

#newgame-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #FFE0B5;
    color: #CA2E55;
    border-radius: 1rem;
    border: none;

}

#msg {
    color: #462521;
    font-size: 8vmin;
}

.MsgContainer{
    height: 10 0vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.hide{
    display: none;
}
